{{>header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="siteDetails">
                <h4>Site Details</h4>
                <div class="siteInfo">
                    <label for="">Site Name</label>
                    <p>{{sites.name}}</p>
                </div>
                <div class="siteInfo">
                    <label for="">URL</label>
                    <p>{{sites.url}}</p>
                </div>
                <div class="siteInfo">
                    <label for="">Remarks</label> <br>
                    <p id="textAreaP">{{sites.remarks}}</p>
                </div>
            </div>

            <div id="showButtons">
                <span><a class="btn btn-success" href="/home/allsites/{{sites._id}}/edit">Edit</a></span>
                <form action="/home/allsites/{{sites._id}}?_method=DELETE" method="POST">
                    <button role="submit" class="btn btn-danger">Delete</button>
                </form>
                    <span><a class="btn btn-success backBtn" href="/home/allsites">Back</a></span>
            </div>
        </div>
    </div>
</div>



